.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  padding: 0 35px 0 35px;

  font-size: 15px;
  font-weight: bolder;
  font-family: 'Roboto Condensed';
  color: white;
  letter-spacing: 0.5px;
  line-height: 50px;
  text-transform: uppercase;

  border: none;
  background-color: black;
  cursor: pointer;

  &:hover {
    color: black;

    border: 1px solid black;
    background-color: white;
  }

  &.blue-btn {
    margin-left: 15px;

    background-color: #4285f4;
    border: 1px solid transparent;
  }

  &.inverted {
    color: black;

    border: 1px solid black;
    background-color: white;

    &:hover {
      border: none;
      color: white;
      background-color: black;
    }
  }
}
