// accent color
$indigo: #5369f8;

// background color
$bg-primary: #f3f4f7;

//Background left-sidebar
$bg-leftbar-light: #ffffff;
$bg-leftbar-dark: #323742;

// Leftbar width
$leftbar-width: 250px;
$leftbar-width-collapsed: 70px;

// Small Leftbar Width
$leftbar-width-sm: 160px;

// Boxed layout width
$boxed-layout-width: 1300px;

// Logo box
$logo-box-background: #323742;

// Dark leftbar menu color
$menu-item-color-dark: #9097a7;
$menu-item-hover-color-dark: #c8cddc;
$menu-item-active-color-dark: #ffffff;

//Menu item colors
$menu-item: $gray-700; //#6e768e;
$menu-item-hover: $primary;
$menu-item-active: $primary;
$menu-item-bg-hover: #f7f7ff;

//Rightbar Width
$rightbar-width: 260px;

//Rightbar Width
$bg-rightbar: #fff;

//Topbar Background
$bg-topbar-light: #ffffff;
$bg-topbar-dark: #323742;

// Gradient Background

$bg-gradient: linear-gradient(to bottom, #564ab1, #746dad);

// Topbar Height
$topbar-height: 72px;

// Dropdown Large
$dropdown-lg-width: 320px;

// button
$btn-soft-bg-opacity: 0.15;

// apex charts
$apex-grid-color: #f8f9fa;

// horizontal
$bg-topnav: #ffffff;
