.collection-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  position: relative;

  .custom-button {
    width: 50%;
    opacity: 0;
    position: absolute;
    bottom: 50px;

    transition: opacity 0.25s ease-in;
  }

  &:hover {
    .image {
      opacity: 0.9;
    }

    .custom-button {
      opacity: 0.9;
    }
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;

    position: absolute;
    top: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    .name {
      margin-bottom: 15px;

      font-size: 1.9rem;
      color: white;
      text-align: center;
    }

    .price {
      display: flex;
      align-items: center;

      font-size: 1.1rem;
      font-weight: 700;
      color: white;
    }
  }
}
