.datepicker {
  margin-right: 10px;
  max-width: 120px;
}

.report-item {
  & > span {
    font-size: 14px;
  }
}

.icon-dual {
  width: 15px;
  margin-right: 10px;
}

.report-btn {
  font-size: 14px;
  background-color: $indigo;
}
