.small-chart-description {
  font-size: 0.9rem;
}

.small-chart-title {
  font-size: 1.6rem;
  margin-top: 10px;
}

.small-chart-icon {
  width: 15px;
  margin-right: 10px;
}

.small-chart-value {
  display: flex;
  align-items: center;

  font-size: 0.9rem;
}
