@font-face {
    font-family: 'DIN Pro';
    src: url("../fonts/DINPro-Light.woff2") format("woff2"), url("../fonts/DINPro-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
  src: url("../fonts/DINPro-Regular.woff2") format("woff2"), url("../fonts/DINPro-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
  src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
  src: url("../fonts/DINPro-Italic.woff2") format("woff2"), url("../fonts/DINPro-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
