@font-face {
    font-family: DIN Pro;
    src: url(../fonts/DINPro-Light.woff2) format("woff2"), url(../fonts/DINPro-Light.woff) format("woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: DIN Pro;
    src: url(../fonts/DINPro-Regular.woff2) format("woff2"), url(../fonts/DINPro-Regular.woff) format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: DIN Pro;
    src: url(../fonts/DINPro-Medium.woff2) format("woff2"), url(../fonts/DINPro-Medium.woff) format("woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: DIN Pro;
    src: url(../fonts/DINPro-Bold.woff2) format("woff2"), url(../fonts/DINPro-Bold.woff) format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: DIN Pro;
    src: url(../fonts/DINPro-Italic.woff2) format("woff2"), url(../fonts/DINPro-Italic.woff) format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: italic
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

*,
:after,
:before {
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

:focus {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

figure,
form {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
html,
input,
select,
textarea {
    color: #222
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

img {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

body,
html {
    font-size: 18px
}

body {
    background-color: #fff;
    color: #333;
    font-family: DIN Pro;
    font-weight: 400
}

.swiper-pagination.swiper-pagination-bullets {
    position: absolute;
    right: calc((100vw - 1400px)/2) !important
}

@media (max-width:1400px) {
    .swiper-pagination.swiper-pagination-bullets {
        right: 20px !important
    }
}

@media (max-width:1200px) {
    .swiper-pagination.swiper-pagination-bullets {
        width: 70px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        justify-content: center;
        bottom: 48px !important;
        left: 50% !important;
        transform: translateX(-50%);
        width: 100%
    }
}

.hero-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%
}

.hero-bullet:hover {
    cursor: pointer;
}

.hero-bullet.hero-bullet-active {
    width: 20px;
    height: 20px;
    background: #fff
}

.hero-bullet {
    margin: 8px
}

.swiper-wrapper {
    margin-bottom: 35px
}

@media (max-width:1200px) {
    .swiper-wrapper {
        margin-bottom: 25px
    }
}

.swiper-pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 52px !important;
    height: 52px !important;
}

.swiper-button-prev {
    margin-left: -36px
}

.swiper-button-prev:after {
    width: 52px;
    height: 52px;
    color: transparent;
    font-size: 0;
    background-image: url(../images/l-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.swiper-button-prev--ml {
    margin-left: -72px
}

@media (max-width:1540px) {
    .swiper-button-prev {
        opacity: 0
    }
}

.swiper-button-next {
    margin-right: -36px
}

.swiper-button-next:after {
    width: 52px;
    height: 52px;
    color: transparent;
    font-size: 0;
    background-image: url(../images/r-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

@media (max-width:1540px) {
    .swiper-button-next {
        opacity: 0
    }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important
}

.swiper-box {
    position: relative
}

.bars {
    display: none;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:1540px) {
    .bars {
        display: -ms-flexbox;
        display: flex
    }
}

.bars .bar {
    width: 100%;
    height: 1px;
    vertical-align: middle;
    opacity: 1;
    background: #ececec;
    font-size: 0
}

.bars .bar-active {
    width: 100%;
    height: 3px;
    opacity: 1;
    background: #333;
    border-radius: 50px;
    transition: background .3s linear
}

@media (max-width: 640px) {
    .bars .bar-active {
        background: #8f2e3f;
    }
}

.page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto
}

.swiper-container {
    width: 100%;
    max-height: 670px;
}

.mobile__outer {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ececec;
    transform: translateY(-100%);
    transition: transform .35s linear;
    z-index: -1
}

@media (max-width:1200px) {
    .menu-active .mobile__outer {
        transform: translateY(130px);
        box-shadow: 0 4px 5px 0 #5f5f5f
    }
}

@media (max-width:640px) {
    .menu-active .mobile__outer {
        transform: translateY(60px)
    }
}

.nav__mobile {
    margin-top: 25px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
}

@media (max-width:640px) {
    .nav__mobile {
        margin-top: 15px;
        text-align: left
    }
}

.nav__mobile-item:last-child {
    margin-top: 25px
}

.mobile-item__link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.03em;
    color: #000;
    transition: all .2s ease-in-out
}

.mobile-item__link:hover {
    color: #8f2e3f
}

@media (max-width:640px) {
    .mobile-item__link {
        padding: 8px 20px
    }
}

.mobile-item__link.menu-item__link--red {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.toggle {
    display: none;
    width: 38px;
    height: 24px;
    padding: 4px;
    border: none;
    background: transparent
}

@media (max-width:1200px) {
    .toggle {
        display: block
    }
}

.line {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    border: none;
    border-radius: 1px;
    background: #fff;
    transition: transform .2s linear
}

.menu-active .line {
    transform: rotate(-45deg);
    background: #8f2e3f
}

.is-fixed .line {
    background: #8f2e3f
}

.line:before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: -7px;
    left: 0;
    border: none;
    border-radius: 1px;
    background: #fff;
    transition: transform .2s linear
}

.menu-active .line:before {
    transform: translateY(7px) rotate(90deg);
    background: #8f2e3f
}

.is-fixed .line:before {
    background: #8f2e3f
}

.line:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    border: none;
    border-radius: 1px;
    background: #fff;
    transition: transform .2s linear
}

.menu-active .line:after {
    transform: translateY(-7px);
    background: #8f2e3f
}

.is-fixed .line:after {
    background: #8f2e3f
}

.contact {
    margin-bottom: 30px;
    text-align: center
}

.contact__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -.03em;
    color: #8b8b8b
}

.contact__number {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -.03em;
    font-weight: 700;
    color: #333
}

.socials {
    margin-bottom: 23px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.socials__item+.socials__item {
    margin-left: 8px
}

.socials__item-link {
    display: inline-block;
    width: 39px;
    height: 27px
}

.facebook:after {
    background-image: url(../images/f.svg)
}

.facebook:after,
.instagram:after {
    content: "";
    display: block;
    width: 39px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: 50%
}

.instagram:after {
    background-image: url(../images/i.svg)
}

.odnoklassniki:after {
    background-image: url(../images/ok.svg)
}

.odnoklassniki:after,
.vk:after {
    content: "";
    display: block;
    width: 39px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: 50%
}

.vk:after {
    background-image: url(../images/vk.svg)
}

.youtube:after {
    content: "";
    display: block;
    width: 39px;
    height: 27px;
    background-image: url(../images/yt.svg);
    background-repeat: no-repeat;
    background-position: 50%
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background .35s linear
}

.menu-active .header {
    background: #fff
}

.header.is-fixed {
    position: fixed;
    top: 0
}

.header.is-fixed .menu-item__link {
    color: #000
}

.header.is-fixed .navigation {
    padding: 20px 5px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #000
}

@media (max-width:1200px) {
    .menu-active .header.is-fixed .navigation {
        box-shadow: none
    }
}

.header.is-fixed .nav__inner {
    margin-top: 0
}

.header.is-fixed .nav-logo__light {
    display: none
}

.header.is-fixed .nav-logo__dark {
    display: block;
    margin-right: 10px;
    width: 230px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover
}

.slideUp {
    transform: translateY(-150px)
}

.slideDown,
.slideUp {
    transition: transform .5s ease-out
}

.slideDown {
    transform: translateY(0)
}

.navigation {
    width: 100%;
    height: auto;
    padding: 20px 10px
}

@media (max-width:640px) {
    .navigation {
        padding: 17px 10px
    }
}

.nav__inner {
    min-height: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width:640px) {
    .nav__inner {
        min-height: auto
    }
}

.nav__logo:focus {
    outline: none
}

.nav-logo__light {
    margin-right: 10px;
    width: 220px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:1200px) {
    .menu-active .nav-logo__light {
        display: none
    }
}

@media (max-width:640px) {
    .nav-logo__light {
        width: 125px
    }
}

.nav-logo__dark {
    display: none;
    margin-right: 10px;
    width: 220px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:1200px) {
    .nav-logo__dark {
        z-index: 100;
        position: relative
    }

    .menu-active .nav-logo__dark {
        display: block
    }
}

@media (max-width:640px) {
    .nav-logo__dark {
        width: 125px !important;
    }
}

.nav__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:1200px) {
    .nav__menu {
        display: none
    }
}

.nav__menu-item+.nav__menu-item {
    margin-left: 64px
}

@media (max-width:1400px) {
    .nav__menu-item+.nav__menu-item {
        margin-left: 50px
    }
}

.nav__menu-item:last-child {
    margin-left: 139px
}

@media (max-width:1400px) {
    .nav__menu-item:last-child {
        margin-left: 50px
    }
}

.menu-item__link {
    display: inline-block;
    padding: 0;
    color: #fff;
    text-decoration: none
}

.menu-item__link:hover {
    text-decoration: underline
}

.menu-item__link--red {
    padding: 12px 28px;
    background: #8f2e3f;
    border-radius: 2px;
    color: #fff !important
}

.menu-item__link--red:hover {
    text-decoration: none
}

.triangle {
    position: relative;
    width: 100%;
    height: auto
}

.triangle:after {
    left: 0;
    border-width: 30px 0 0 960px;
    border-color: transparent transparent transparent #fff
}

.triangle:after,
.triangle:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 100
}

.triangle:before {
    right: 0;
    border-width: 0 0 30px 960px;
    border-color: transparent transparent #fff
}

.swiper-slide__img {
    display: block;
    width: 100%;
    min-height: 672px;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover
}

.offer__text {
    max-width: 500px;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.offer__title {
    margin-bottom: 32px;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    color: #fff
}

@media (max-width:1200px) {
    .offer__title {
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 40px
    }
}

.offer__subtitle {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 27px;
    color: #fff
}

@media (max-width:1200px) {
    .offer__subtitle {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -.03em
    }
}

.offer__link {
    display: inline-block;
    padding: 15px 90px;
    text-decoration: none;
    line-height: 22px;
    color: #fff;
    background: #8f2e3f;
    border-radius: 2px
}

@media (max-width:1200px) {
    .offer__link {
        padding: 12px 54px;
        font-size: 14px;
        line-height: 14px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 2px;
        text-align: center
    }
}

.slide__inner {
    width: 100%;
    min-height: 672px
}

.section__text {
    margin-bottom: 60px;
    padding-top: 50px;
    padding-bottom: 75px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #ececec
}

@media (max-width:1200px) {
    .section__text {
        display: block;
        margin-bottom: 35px;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-bottom: 0;
    }
}

.section__text-title {
    max-width: 40%;
    color: #333;
    font-weight: 700;
    line-height: 31px;
    font-size: 26px
}

@media (max-width:1200px) {
    .section__text-title {
        max-width: 100%;
        margin: 0 auto;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px
    }
}

.section__text-subtitle {
    max-width: 50%;
    color: #333;
    font-size: 18px;
    line-height: 27px;
}

@media (max-width:1200px) {
    .section__text-subtitle {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 45px
    }
}

.section__title {
    font-size: 32px;
    line-height: 43px;
    font-weight: 500;
    color: #333
}

.news {
    padding-bottom: 80px
}

@media (max-width:1200px) {
    .news {
        margin-bottom: 50px
    }
}

.news__title {
    margin-bottom: 35px
}

@media (max-width:1200px) {
    .news__title {
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 32px;
    }
}

.news__link {
    color: #8f2e3f;
    font-size: 24px;
    line-height: 1.35
}

.news__item {
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
}

.news__item:hover {
    opacity: 1;
}

.news__item-name {
    margin-bottom: 18px;
    max-height: 64px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal
}

.news__item-text {
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
    line-height: 1.35
}

.news__item-meta {
    font-size: 16px;
    line-height: 1.35;
    color: #8b8b8b
}

.about__text {
    border-bottom: none;
}

.about__text {
    margin-bottom: 84px;
    padding-bottom: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width:1200px) {
    .about__text {
        display: block;
        margin-bottom: 30px;
    }
}

.about__text-subtitle {
    max-width: 796px;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
}

@media (max-width:1200px) {
    .about__text-subtitle {
        margin: 0;
        max-width: 100%;
    }
}

@media (max-width:640px) {
    .about__text-subtitle {
        font-size: 18px;
        line-height: 24px;
    }
}

.about__list {
    padding-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ececec
}

@media (max-width:1100px) {
    .about__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (max-width:1062px) {
    .about__list {
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 40px
    }
}

.about__list-item {
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    border-left: 2px solid transparent;
    transition: all .2s ease-in-out
}

.about__list-item:hover {
    border-left: 2px solid #8f2e3f
}

@media (max-width:1200px) {
    .about__list-item:hover {
        border-left: 2px solid transparent
    }
}

@media (max-width:1062px) {
    .about__list-item {
        margin-bottom: 10px
    }
}

.list-item__wrap {
    max-width: 400px;
    min-height: 187px;
    padding: 25px 20px 20px;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    transition: all .2s ease-in-out
}

.list-item__wrap:hover {
    border-left: 1px solid #8f2e3f
}

.list-item__wrap:hover .about__item-link {
    opacity: 1
}

@media (max-width:1200px) {
    .list-item__wrap:hover {
        border: 1px solid #8f2e3f
    }
}

@media (max-width:640px) {
    .list-item__wrap {
        max-width: 100%
    }
}

.about__item-title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #333
}

.about__item-description {
    font-size: 14px;
    line-height: 20px;
    color: #333
}

.about__item-action {
    position: absolute;
    right: 45px;
    bottom: 20px
}

.about__item-link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #8f2e3f;
    text-decoration: none;
    transition: transform .2s linear, opacity .2s linear;
    opacity: 0
}

.about__item-link:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -25px;
    top: 0;
    background-image: url(../images/red-arrow-right.svg);
    transition: transform .2s linear
}

.about__item-link:hover:after {
    transform: translateX(-10px)
}

@media (max-width:1200px) {
    .about__item-link {
        opacity: 1
    }
}

.info__text-title {
    margin-bottom: 40px
}

@media (max-width:1062px) {
    .info__text-title {
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 32px;
    }
}

.info {
    padding-top: 50px;
    padding-bottom: 80px;
}

@media (max-width: 1540px) {
    .info {
        padding-bottom: 50px;
    }
}

.info__item {
    position: relative;
    min-height: 354px;
    padding: 30px 35px 35px 32px;
    background: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .03);
    border-radius: 4px
}

.info__item-wrap {
    border-left: 3px solid transparent;
    transition: border .2s ease-in-out
}

.info__item-wrap:hover {
    border-left: 3px solid #8f2e3f
}

@media(max-width: 1200px) {
    .info__item-wrap {
        border: none;
    }
}

@media(max-width: 1200px) {
    .info__item-wrap:hover {
        border: none;
    }
}

.info__item-wrap:hover .info__item {
    border-left: 1px solid transparent
}

@media(max-width: 1200px) {
    .info__item-wrap:hover .info__item {
        border: 1px solid #8f2e3f;
    }
}

@media(max-width: 1200px) {
    .info__item:hover {
        border: 1px solid #8f2e3f;
    }
}

.info-item__title {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 1.35;
    letter-spacing: -.03em
}

.info-item__description {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35
}

.info-meta__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover
}

.info-item__meta {
    position: absolute;
    bottom: 35px;
    left: 35px;
    right: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.info-meta__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right
}

.info__time {
    margin-bottom: 3px;
    letter-spacing: -.03em;
    color: #8b8b8b
}

.info__read-more,
.info__time {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35
}

.info__read-more {
    text-decoration: underline;
    color: #8f2e3f
}

.fix {
    margin-bottom: 0px;
}

@media (max-width: 1540px) {
    .fix {
        margin-bottom: 30px
    }
}

.overflow {
    overflow: visible !important;
}

.triangle-down {
    position: relative;
    width: 100%;
    height: auto;
}

.triangle-down:after,
.triangle-down:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    border-style: solid;
    z-index: 100;
}

.triangle-down:before {
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 0 960px 30px 0;
    border-color: transparent #ffffff transparent transparent;
}

.triangle-down:after {
    width: 0;
    height: 0;
    left: 0;
    bottom: -30px;
    border-style: solid;
    border-width: 30px 960px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

.footer__form-name {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #CACACA;
    font-style: italic;
}

.footer__top {
    padding: 50px 0 45px;
    border-bottom: 1px solid #ECECEC;
    background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100.19%);
}

.footer__form-input {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
    padding: 25px 300px 25px 70px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #8B8B8B;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

.footer__form-input:hover {
    cursor: default;
}

.footer__form::placeholder {
    color: #8B8B8B;
}

.form__group {
    position: relative;
}

.footer__form-btn {
    display: block;
    padding: 12px 85px 16px 85px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #8F2E3F;
    border: none;
    color: #fff;
    border-radius: 4px;
}

.footer__form-text {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #8B8B8B;
}

.personal-data__link {
    color: #8B8B8B;
}

.personal-data__link:hover {
    color: #8F2E3F;
    cursor: default;
}

.footer__content-wrap {
    padding: 45px 0 45px;
    display: flex;
    justify-content: space-between;
}

.footer__content-left {
    max-width: 50%;
}

.footer__content-right {
    max-width: 55%;
    display: flex;
    align-items: flex-start;
}

.footer__list {
    display: flex;
    margin-bottom: 32px
}

.footer__list:hover li {
    opacity: .6
}

.footer__list-item {
    transition: opacity .2s ease-in-out
}

.footer__list-item:hover {
    opacity: 1 !important
}

.footer__list-item+.footer__list-item {
    margin-left: 40px
}

.footer__col-title {
    margin-bottom: 40px
}

.footer__bottom-wrap {
    padding: 0 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.work-time {
    display: block;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.03em;
    color: #8b8b8b
}

.footer__col-title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.03em;
    color: #8b8b8b
}

.footer__link {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -.03em;
    text-decoration-line: underline;
    color: #8f2e3f;
    cursor: default
}

.footer__policy {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.03em;
    text-decoration-line: underline;
    color: #8b8b8b;
    transition: all .2s ease-in-out
}

.footer__policy:hover {
    color: #8f2e3f;
    cursor: default
}

.col-data__phone {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -.03em;
    color: #333
}

.credentials {
    display: flex;
    align-items: center
}

.credentials__brand {
    font-size: 16px;
    line-height: 20px;
    color: #8b8b8b
}

.credentials__link {
    margin-left: 76px;
    font-size: 16px;
    line-height: 20px;
    color: #8b8b8b
}

.developer__text {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -.02em;
    color: rgba(139, 139, 139, .6)
}

.developer__link {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -.02em;
    color: #8b8b8b
}

.footer__socials {
    max-width: 173px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.footer__socials-item {
    background: #f8f8f8;
    border-radius: 2px;
    transition: all .2s ease-in-out
}

.footer__socials-item:hover {
    background: #8f2e3f
}

.footer__socials-item {
    margin: 0 10px 10px 0 !important
}

.footer__socials-link {
    display: flex;
    align-items: center;
    justify-content: center
}

.footer__socials-link:hover {
    cursor: default
}

.footer__socials-link:hover .fill-good {
    fill: #fff
}

.footer__col-ml80 {
    margin-left: 80px
}

.footer__col-data {
    margin-bottom: 15px
}

.footer__form-input:focus::placeholder {
    color: transparent
}

.mail-icon::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 25px;
    left: 35px;
    background: url(../images/mail.svg);
    background-position: center;
    z-index: 100
}

.box-wrap {
    display: inline-block
}

.checkbox {
    display: none
}

.box {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #c3c3c3;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px
}

.box:hover {
    cursor: pointer
}

.checkbox:checked+.box {
    background: url(../images/check-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

@media (max-width:1204px) {
    .footer__top {
        background: linear-gradient(360deg, #f7f7f7 0, #e8e8e8 100.19%);
        padding-top: 70px
    }

    .footer__form {
        max-width: 500px;
        margin: 0 auto
    }

    .footer__form-input {
        margin-bottom: 0;
        height: 55px;
        padding: 20px 20px 20px 50px
    }

    .mail-icon::before {
        top: 17px;
        left: 25px
    }

    .footer__form-btn {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        height: 55px;
        position: unset;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        font-size: 12px;
        line-height: 14px;
    }

    .footer__content-wrap {
        display: block;
        text-align: center;
        padding: 0;
    }

    .footer__list {
        display: block
    }

    .footer__list-item+.footer__list-item {
        margin-left: 0
    }

    .footer__content-left {
        display: block;
        min-width: 100%;
        margin: 0 auto
    }

    .footer__content-right {
        display: block;
        min-width: 100%;
        margin: 0 auto
    }

    .footer__col-ml80 {
        margin-left: 0
    }

    .footer__bottom-wrap {
        display: block
    }

    .credentials {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 15px;
        justify-content: space-between
    }

    .credentials__link {
        margin-left: 0
    }

    .footer__col-title {
        margin-bottom: 20px
    }

    .footer__list {
        margin-bottom: 13px
    }

    .footer__list-item {
        margin-bottom: 13px
    }

    .footer__list-item:last-child {
        margin-bottom: 0
    }

    .footer__content-left {
        margin-bottom: 27px
    }

    .footer__col--mb25 {
        margin-bottom: 25px
    }

    .footer__col-mb30 {
        margin-bottom: 30px
    }

    .footer__socials {
        max-width: 100%;
        flex-wrap: nowrap;
        justify-content: center
    }

    .footer__content {
        padding: 30px 0 0
    }

    .developer {
        text-align: center
    }

    .info {
        box-shadow: unset
    }
}

@media (max-width:420px) {
    .footer__content-wrap {
        text-align: left
    }

    .footer__socials {
        justify-content: flex-start
    }

    .credentials {
        min-width: 100%
    }

    .developer {
        text-align: left
    }
}

@media (max-width:1200px) {
    .slide__inner {
        min-height: 500px;
    }

    .swiper-slide__img {
        min-height: 500px;
    }

    .news__item-name {
        font-size: 18px;
        line-height: 24px;
    }

    .about__text-title {
        font-size: 24px;
        line-height: 32px;
    }

    .info {
        padding-top: 45px;
        padding-bottom: 20px;
    }

    .info-item__title {
        font-size: 16px;
        line-height: 22px;
    }

    .info-item__description {
        font-size: 14px;
        line-height: 19px;
    }

    .info__item {
        padding: 20px;
        box-shadow: none;
    }

    .info__read-more {
        font-size: 14px;
        line-height: 19px;
    }

    .info-item__meta {
        left: 20px;
    }

    .info__time {
        font-size: 14px;
        line-height: 19px;
    }

    .footer__form-text {
        font-size: 11px;
        line-height: 15px;
    }

    .footer__link {
        font-size: 14px;
        line-height: 19px;
    }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}

@media (max-width: 1540px) {

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0 !important;
    }
}