.loginForm {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.loginFormInput {
  margin-bottom: 20px !important;
}

.loginFormBtn {
  max-width: 50%;
  margin: 0 auto 2rem !important;
  display: block !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.loginFormLink {
  margin: 0;

  text-align: center;
}
