.registerForm {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.registerFormInput {
  margin-bottom: 20px !important;
}

.registerFormBtn {
  display: block !important;
  margin: 0 auto 2rem !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.registerFormLink {
  margin: 0;

  text-align: center;
}
